<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<style>
	#wrapper {
		margin-top: 15px;
		display: flex;
        }
        #pieWrapper {
		margin-top: 15px;
		display: flex;
	}



	#text {
		flex: 1;
	}

	.mycss {
		letter-spacing: 0pt;
		word-spacing: 0pt;
		font-size: 22px;
		text-align: center;
		font-family: arial, helvetica, sans-serif;
	}

	.myButton {
		margin-right: 5px;
		margin-bottom: 10px;
		-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
		box-shadow: inset 0px 1px 0px 0px #ffffff;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
		background: -moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background: -webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background: -o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background: -ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
		background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6', GradientType=0);
		background-color: #ffffff;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		border: 1px solid #dcdcdc;
		display: inline-block;
		cursor: pointer;
		color: #666666;
		font-family: Arial;
		font-size: 19px;
		padding: 6px 24px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #ffffff;
	}

	.myButton:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
		background: -moz-linear-gradient(top, #c0a760 100%, #ffffff 100%);
		background: -webkit-linear-gradient(top, #888375 100%, #ffffff 100%);
		background: -o-linear-gradient(top, #888375 100%, #ffffff 100%);
		background: -ms-linear-gradient(top, #888375 100%, #ffffff 100%);
		background: linear-gradient(to bottom, #888375 100%, #ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#888375', endColorstr='#ffffff', GradientType=0);
		background-color: #888375;
		color: white;
	}

	.myButton:active {
		position: relative;
		top: 1px;
	
	}

</style>


<div style="text-align: center; margin-bottom: 5px"> <button class="myButton" (click)="closeWrapperDiv();Eugene();Bougleois();Ludwig();JeanDubuffet();PabloPicasso();" type="button"  >
        TOP 5 Künstler</button>
            </div>
           
        <div style="text-align: center"> 
        <button class="myButton" (click)="Realismus();closeDiv()" (mouseover)="RealismusHover()" (mouseout)="Materialienn()"   type="button">
            Realismus</button>
        <button class="myButton" (click)="Impressionismuss();closeDiv()"(mouseover)="ImpressionismusHover()" (mouseout)="Materialienn()" type="button">
            Impresionismuss</button>
         <button class="myButton" (click)="Jugendstill();closeDiv()"  (mouseover)="JugendstilHover()" (mouseout)="Materialienn()" type="button">
                Jugendstil</button>
        <button class="myButton" (click)="Expresionismus();closeDiv()"  (mouseover)="ExpressionismusHover()" (mouseout)="Materialienn()" type="button">
                Expresionismus</button>
        <button class="myButton" (click)="Kubismus();closeDiv()" (mouseover)="KubismusHover()" (mouseout)="Materialienn()" type="button">
                Kubismus</button>
        <button class="myButton" (click)="Futurismus();closeDiv()"  (mouseover)="FuturismusHover()" (mouseout)="Materialienn()" type="button">
                Futurismus</button>
        <button class="myButton" (click)="Dadaismuss();closeDiv()" (mouseover)="DadaismusHover()" (mouseout)="Materialienn()"  type="button">
                 Dadaismuss</button>
        <button class="myButton" (click)="magischerRealismuss();closeDiv()"  (mouseover)="MagischerRealismusHover()" (mouseout)="Materialienn()" type="button">
                Neue Sachlichkeit</button>
        <button class="myButton" (click)="Bauhaus();closeDiv()"  (mouseover)="BauhausHover()" (mouseout)="Materialienn()" type="button">
                 Bauhaus</button>
        <button class="myButton" (click)="Surrealismuss();closeDiv()"  (mouseover)="SurrealismusHover()" (mouseout)="Materialienn()" type="button">
                 Surrealismus</button>
        <button class="myButton" (click)="AbstrakterExpressionismus();closeDiv()"  (mouseover)="AbstrakterExpressionismusHover()" (mouseout)="Materialienn()" type="button">
                Abstrakter-Expressionismus</button>
        <button class="myButton" (click)="Informell();closeDiv()"  (mouseover)="InformelHover()" (mouseout)="Materialienn()" type="button">
                Informell</button>
        <button class="myButton" (click)="PostModerne();closeDiv()"  (mouseover)="PostModerneHover()" (mouseout)="Materialienn()" type="button">
                Postmoderne</button>
        <button class="myButton" (click)="PopArt();closeDiv()" (mouseover)="PopLandArtHover()" (mouseout)="Materialienn()" type="button">
                Landart</button>
        <button class="myButton" (click)="PopArt();closeDiv()" (mouseover)="PopLandArtHover()" (mouseout)="Materialienn()" type="button">
                Popart</button>
        <button class="myButton" (click)="NeoExpressionismus();closeDiv()"  (mouseover)="NeoExpressionismusHover()" (mouseout)="Materialienn()" type="button">
                Neo-Expressionismus</button>
            </div>

      
<div style="margin-top:5px;" id="Materialien"></div>
<div style="text-align: center;"> 
                <button class="myButton" (click)="hideLegend()"  type="button">
                                Hide Legend</button>
                <button class="myButton" (click)="showLegend()"  type="button">
                                 Show Legend</button></div>
<div id="piechart1" style="display: inline-block;width: 18% ;margin-right: 2%; margin-left: 2%; margin-top: 20px;"></div>
<div id="piechart2"style="display: inline-block;width: 18%;margin-right: 2% margin-top: 20px;"></div>
<div id="piechart3"style="display: inline-block;width: 18%;margin-right: 2% margin-top: 20px;"></div>
<div id="piechart4"style="display: inline-block;width: 18%;margin-right: 2% margin-top: 20px;"></div>
<div id="piechart5"style="display: inline-block;width: 18% margin-top: 20px;"></div>

<div id="secondChart"  style="float: left;width: 70% ;margin-top:50px"></div>
<div id="text" class="mycss" style="text-align: left;float: left;width: 25%; margin-left: 20px ;margin-right: 20px;border: black ;margin-top: 70px "></div>

