/* You can add global styles to this file, and also import other style files */
  
@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-title {
    font-weight: bold;
    font-size: 30px !important;
}
.highcharts-subtitle {
    font-size: 20px;
}

.highcharts-legend-item text
{

    font-size: 17px !important;
}

.highcharts-label text {
    
    font-size: 17px !important;
}