/* You can add global styles to this file, and also import other style files */
  
@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-title {
    font-weight: bold;
    font-size: 20px !important;
}
.highcharts-subtitle {
    font-size: 20px;
}

.highcharts-legend-item text
{

    font-size: 19px !important;
}

.highcharts-label text {
    
    font-size: 17px !important;
}

 .highcharts-xaxis-labels span {
     font-size: 18px !important;
 }

 .highcharts-yaxis-labels text {
    font-size: 18px !important;
}

.highcharts-axis-title tspan {
    font-size: 18px !important;   
}